* {
    background-color: ghostwhite;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

img {
    display: block;
    width: 600px;
    margin: 0 auto;
}

ul, ol {
  list-style-type: none;  /* removes bullets and numbers */
  padding: 0; /* removes gap to allow centered text */
  margin: 0; /* removes gap to allow centered text */
}

hr {
    margin-top: 24px;
}

a {
  text-decoration: none;   /* removes underline */
  color: inherit;          /* keeps the same color as surrounding text */
}

